@model fastMvcRush.Models.GuestRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>RNSV</title>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            @Html.ValidationSummary();
       <h1> Your Name :   @Html.TextBoxFor(x => x.Name) </h1>
            <h1> Your phone :   @Html.TextBoxFor(x => x.Phone) </h1>
            <h1> Your email :   @Html.TextBoxFor(x => x.Email) </h1>
            <h1> Will you attend?   @Html.DropDownListFor(x=>x.Come,
            new[]{ new SelectListItem(){ Text = "Yes, I'll be there", Value = bool.TrueString},
                new SelectListItem(){Text = "No, I can't come", Value= bool.FalseString}},"Choose an option") </h1>
            <input name="Submit" type="submit" />
        }

    </div>
</body>
</html>
